.main-wrapper {
    display: flex;
}

:root {
  --dokka-comment: #8c8c8c;
  --dokka-punctuation: #999;
  --dokka-property: #905;
  --dokka-string: #067d17;
  --dokka-operator: #9a6e3a;
  --dokka-keyword: #07a;
  --dokka-function: #DD4A68;
  --dokka-class-name: #000;
  --dokka-variable: #871094;
}

[data-theme='dark'] {
  --dokka-comment: #808080;
  --dokka-punctuation: #a9b7c6;
  --dokka-property: #9876aa;
  --dokka-string: #690;
  --dokka-operator: #9a6e3a;
  --dokka-keyword: #cc7832;
  --dokka-function: #ffc66d;
  --dokka-class-name: #a9b7c6;
  --dokka-variable: #9876aa;
}

:root {
  --default-gray: #f4f4f4;
  --default-font-color: black;
  --header-font-color: var(--default-font-color);

  --breadcrumb-font-color: #637282;
  --breadcrumb-margin: 24px;
  --hover-link-color: #5B5DEF;

  --footer-height: 64px;
  --footer-padding-top: 48px;
  --footer-background: var(--default-gray);
  --footer-font-color: var(--average-color);
  --footer-go-to-top-color: white;

  --horizontal-spacing-for-content: 16px;
  --mobile-horizontal-spacing-for-content: 8px;
  --bottom-spacing: 16px;
  --color-scrollbar: rgba(39, 40, 44, 0.40);
  --color-scrollbar-track: var(--default-gray);
  --default-white: #fff;
  --dark-mode-and-search-icon-color: var(--default-white);
  --color-dark: #27282c;
  --default-font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
  --default-monospace-font-family: JetBrains Mono, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --default-font-size: 15px;
  --average-color: var(--color-dark);
  --brief-color: var(--average-color);
  --copy-icon-color: rgba(39, 40, 44, .7);
  --copy-icon-hover-color: var(--color-dark);
  --code-background: rgba(39, 40, 44, .05);
  --border-color: rgba(39, 40, 44, .2);
  --navigation-highlight-color: rgba(39, 40, 44, 0.05);
  --top-navigation-height: 73px;
  --max-width: 1160px;
  --white-10: hsla(0, 0%, 100%, .1);

  --active-tab-border-color: #7F52FF;
  --inactive-tab-border-color: rgba(164, 164, 170, 0.7);

  --active-section-color: #7F52FF;
  --inactive-section-color: rgba(25,25,28,.7);

  --sidemenu-section-active-color: #7F52FF;
}

[data-theme='dark'] {
  --color-dark: #3d3d41;
  --default-font-color: hsla(0, 0%, 100%, 0.8);
  --border-color: hsla(0, 0%, 100%, 0.2);
  --code-background: hsla(0, 0%, 100%, 0.05);
  --breadcrumb-font-color: #8c8c8e;
  --brief-color: hsla(0, 0%, 100%, 0.4);
  --copy-icon-color: hsla(0, 0%, 100%, 0.6);
  --copy-icon-hover-color: #fff;

  --active-tab-border-color: var(--default-font-color);
  --inactive-tab-border-color: hsla(0, 0%, 100%, 0.4);

  --active-section-color: var(--default-font-color);
  --inactive-section-color: hsla(0, 0%, 100%, 0.4);

  --navigation-highlight-color: rgba(255, 255, 255, 0.05);
  --footer-background: hsla(0, 0%, 100%, 0.05);
  --footer-font-color: hsla(0, 0%, 100%, 0.6);
  --footer-go-to-top-color: var(--footer-font-color);

  --sidemenu-section-active-color: var(--color-dark);
}

.theme-doc-sidebar-menu a {
  word-break: break-all;
}

.sidebar-package-title > div > a::after {
  margin-left: 6px;
  margin-bottom: -2px;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: '';
  mask: url("/img/package.svg") no-repeat;
  mask-size: cover;
  background-color: var(--ifm-menu-color);
  transform: none !important;
}